cffi==1.16.0
charset-normalizer==3.3.2
contourpy==1.2.1
cryptography==42.0.8
cycler==0.12.1
fonttools==4.53.1
kiwisolver==1.4.5
matplotlib==3.9.1
numpy==2.0.0
packaging==24.1
pdfminer.six==20231228
pdfplumber==0.11.1
pillow==10.4.0
pycparser==2.22
pyparsing==3.1.2
pypdfium2==4.30.0
python-dateutil==2.9.0.post0
six==1.16.0